.action__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  color: #111111;
  padding-bottom: 35px;
  margin: 0;
}

.action__list {
  list-style: none;
  padding: 0;
  font-size: 0;
  display: flex;
  flex-direction: column;
}

.action__item-wrapper {
  position: relative;
  min-height: 60px; //иконки склеиваются, мало текста
  margin-bottom: 20px;
}

.action__item {
  position: relative;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding: 0 0 0px 80px;
}

.action__item::before {
  content: "";
  position: absolute;
  background-color: $green;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}

.action__item--nutrients::after {
  content: "";
  position: absolute;
  background: url("../img/advantage-leaf@1x.png") no-repeat;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
}

.action__item--powder::after {
  content: "";
  position: absolute;
  background: url("../img/advantage-powder@1x.png") no-repeat;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
}
.action__item--replace::after {
  content: "";
  position: absolute;
  background: url("../img/advantage-dining@1x.png") no-repeat;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
}
.action__item--result::after {
  content: "";
  position: absolute;
  background: url("../img/advantage-clock@1x.png") no-repeat;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
}

@media (min-width: $tablet-width) and (max-width: $end-tablet) {
  .action__heading {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 70px;
  }
  
  .action__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .action__item-wrapper {
    width: 47%;
  }
  
  .action__item-wrapper--nutrients::before {
    content: "1";

  }

  .action__item-wrapper--powder::before {
    content: "2";
  }
  
  .action__item-wrapper--replace::before {
    content: "3";
  }

  .action__item-wrapper--result::before {
    content: "4";
  }

  .action__item-wrapper--nutrients::before,
  .action__item-wrapper--powder::before,
  .action__item-wrapper--replace::before,
  .action__item-wrapper--result::before {
    position: absolute;
    top: -38px;
    left: 122px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    font-weight: 400;
    color: #f2f2f2;
  }

  .action__item {
    position: relative;
    padding: 115px 0 0 0;
    margin: 0 84px 89px 0;
    font-size: 16px;
    line-height: 24px;
  }
  
  .action__item::before {
    width: 80px;
    height: 80px;
  }

  .action__item--nutrients::after,
  .action__item--powder::after,
  .action__item--replace::after,
  .action__item--result::after {
    display: none;
  }

  /*.action__item--nutrients {
    background: url("../img/1.png") no-repeat;
    background-position: right top;
    background-size: auto 100%;
  }*/
}

@media (min-width: $desktop-width) {
  .action__heading {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 70px;
  }

  .action__list {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .action__item-wrapper--nutrients::before {
    content: "1";
  }

  .action__item-wrapper--powder::before {
    content: "2";
  }
  
  .action__item-wrapper--replace::before {
    content: "3";
  }

  .action__item-wrapper--result::before {
    content: "4";
  }

  .action__item-wrapper--nutrients::before,
  .action__item-wrapper--powder::before,
  .action__item-wrapper--replace::before,
  .action__item-wrapper--result::before {
    position: absolute;
    top: -38px;
    left: 122px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    font-weight: 400;
    color: #f2f2f2;
  }

  .action__item {
    position: relative;
    padding: 115px 0 0 0;
    margin: 0 84px 89px 0;
    font-size: 16px;
    line-height: 24px;
  }
  
  .action__item::before {
    width: 80px;
    height: 80px;
  }
}
