.example {
  background-color: $gray;
  background-size: cover;
  padding: 25px 20px 0px 20px;
}

.example__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  color: #111111;
  margin: 0 0 25px 0;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 28px 0;
}

.example__legend {
  position: relative;
  display: block;
  width: 122px;
  height: 42px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  border: 1px solid #cdcdcd;
  padding-top: 12px;
}

.example__span {
  position: absolute;
  display: block;
  background-color: #f2f2f2;
  border: none;
  width: 58px;
  height: 24px;
  left: 17px;
  bottom: -14px;
  padding: 0 15px 0 15px;
}

.example__weight {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

.example__was {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.example__become {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.example__wrapper-difference {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__progress {
  width: 84px;
  height: 14px;
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) and (max-width: $end-tablet) {
  .example {
    padding: 0px 30px 0px 30px;
  }  
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0px 110px 0px 110px;
  } 
}