.index-main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: $tablet-width) and (max-width: $end-tablet) {
    .index-main {
        padding: 0px 30px 0px 30px;
    }  
}

@media (min-width: $desktop-width) {
    .index-main {
        box-sizing: border-box;
        max-width: 1440px;
        padding: 0px 110px 0px 110px;
        margin: 0 auto;
    }
}