.location {
  position: relative;
  /*background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: 50% 100%;
  background-size: auto 50%;*/
}

.location__wrapper {
  display: flex;
  justify-content:space-between;
  padding: 30px 20px 25px 20px;
} 
.location__partnership {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding-right: 15px;
  margin: 0;
}
.location__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
/*.location__image::before {
  content: "";
  position: absolute;
  background: url("../img/map-pin.png") no-repeat;
  width: 124px;
  height: 106px;
  left: 132px;
  bottom: 130px;
  z-index: 2;
}*/
