.site-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $white;
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.site-header__logo-image {
  height: 38px;
}

 /*.site-header__logo-link { 
 background: url("../img/logo-mobile.svg") no-repeat 0 50%;
  background-size: auto 38px;
  width: 225px;
  height: 58;
}*/

.site-header__toggle {
  background: url("../img/icon-mobile-menu.svg") no-repeat #ffffff;
  width: 24px;
  height: 18px;
  border: none;
  font-size: 0;
}
@media (min-width: $tablet-width) and (max-width: $end-tablet) {
   .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 30px 0px 30px;
  } 

  .site-header__logo-image {
    height: 58px;
    width: 173px;
  }

  .site-header__toggle {
    display: none;
  }

  .site-header__wrapper {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-header {
    max-width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 52px 110px 0px 110px;
  }
}

.site-header__logo-image {
  height: 59px;
  width: 202px;
}

.site-header__toggle {
  display: none;
}
